html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-color: #020403;
  font-family: 'Rubik', sans-serif;
  margin:0px;
  height: 100vh;
  width: 100%;    
}

.sections{
  padding-top: 5rem;
  
}

.main0{ 
  width: 100%;
  margin: auto;  
  overflow: hidden;  
}

.font-color1{
  color: #FFFFFF;
}

.font-color2{
  color: #ADADAD;
}

.title{
  font-size: 45px;
  font-weight: 600;
}

.subtitle{
  font-size: 25px;
  font-weight: 500;
}

.subsection{
  font-size: 18px;    
}

.mini-txt{
  font-size: 14px;
}

.aline-txt{
  text-align: center;
}

.main1{
  margin: auto;
  height: 45rem;
  position: relative;
  overflow: hidden;
}

.content-v1{
  position: absolute;        
  height:50%;
  width:100%;
  top: 0;
  z-index: 1;
  overflow: hidden;
  transform: rotate(25deg);        
  background-image: url("./Group\ 98.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;  
}

nav{
  height: 5rem;
  width:100%;
  position: fixed;
  z-index: 99;
  background-color:#020403;    
}

#check{
  display: none;
}

.checkbtn{
  position: fixed;
  left:calc(100% - 3rem);
  line-height: 5rem;  
  z-index: 4;
}

ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #ADADAD;
  top: 5rem;
  left: -100%;
  text-align: center;
  transition: .2s;
  padding: 0; 
  margin: 0;
  z-index: 98;     
}

nav ul li{
  display: block;
  margin: 2rem 0;
}

nav ul li a{
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover{
  background-color: #020403;
  border-radius: 6px;
  padding: .5rem 1rem;
  transition: .2s;      
}

#check:checked ~ ul{
  left: 0;
}

.content-perfil{
  position: absolute;
  top: 6rem;
  left: calc(50% - 6.5rem);
  background-image: url("./Perfil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 13rem;
  width: 13rem;
  border-radius: 46%;
  z-index: 3;               
} 

.container{
  width: 350px;
  margin: auto;
  text-align: center;                
}
.container h2{
  margin-top: 19.5rem;
}  
.img-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-posit{
  margin: 0 1rem;
}

.content-v2{
  position: absolute;
  top: 50%; 
  height:50%;
  width: 100%;       
  z-index: 2;
  background-image: url("./Group\ 98.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}


.margin-top{
  margin-top: 85%;
}


  
  